
<div data-role='page' data-fullscreen='true' class='favorite'>
  <div data-role="header" data-position="fixed">
    <a data-role='button' data-icon='home' class='refresh' href='/'>Home</a>
    <h1>&#9733;<%=@image.point%></h1>
    <a data-role='button' data-icon='star' class='star' href='/favorites'>Favorite</a>
  </div>
  <div data-role='content'>
    <!-- <img id='image' /> -->
    <img src='/files/<%=@image.id%>' />
  </div>
  <div data-role="footer" data-position="fixed">
    <a  data-role='button'
        data-icon='back'
        data-prefetch='true'
        data-direction='reverse'
        class='back' href='/favorite?page=<%=@previous%>'>Back</a>
    <a  data-role='button'
        data-icon='forward'
        data-prefetch='true'
        class='forward' href='/favorite?page=<%=@next%>'>Forward</a>

    <a data-role='button' title='<%=@image.id%>' data-icon='check' class='check ui-btn-right' data-theme='b'>Like</a>
  </div>
</div>