
<div data-role='page' class='favorites' id='page_<%=@page%>'>
  <div data-role="header" data-position="fixed">
    <a data-role='button' data-icon='home' class='refresh' href='/'>Home</a>
    <h1>Favs</h1>
    <a data-role='button' data-icon='star' class='star' href='/favorites'>Favorite</a>
  </div>

  <div data-role='content'>
    <ul class='thumbs'>
<!-- --><% @images.each_with_index do |image, i| %><!--
      --><li><a href='/favorite?page=<%=@per_page * (@page - 1) + i%>'><img src='/thumbs/<%=image.id%>' width='76' height='76' alt='' /></a></li><!--
 --><% end %>
    </ul>
  </div>

  <div data-role="footer" data-position="fixed">
    <a  data-role='button'
        data-icon='back'
        data-prefetch='true'
        data-direction='reverse'
        class='back' href='/favorites?page=<%=@previous%>'>Back</a>
    <a  data-role='button'
        data-icon='forward'
        data-prefetch='true'
        class='forward' href='/favorites?page=<%=@next%>'>Forward</a>

  </div>
</div>