<html>
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="/jquery.mobile-1.0.min.css" />
    <script type="text/javascript" src="/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/jquery.mobile-1.0.min.js"></script>
    <style type='text/css'>
/*      body {
        margin: 0;
        padding: 0;
      }*/
      img {
        /*max-width: 100%;*/
        width: 100%;
        height: auto;
      }
    </style>
    <script type='text/javascript'>
    $(function() {
      // var count = <%= @count %>;
      // var currentId = <%= @image.id%>;
      // $('.forward').live('click', function() {
      //   currentId = currentId + 1;
      //   if (currentId >= count) {
      //     currentId = 1;
      //   }
      //   $.mobile.changePage('/?id=' + currentId);
      //   return false;
      // });
      // $('.back').live('click', function() {
      //   currentId = currentId - 1;
      //   if (currentId == 0) {
      //     currentId = count;
      //   }
      //   $.mobile.changePage('/?id=' + currentId, { 'reverse': true });
      //   return false;
      // });
      $('.refresh').live('click', function() {
        location.href = '/';
        return false;
      });
      $('.check').live('click', function() {
        $.post('/images/' + $(this).attr('title'), {}, function(data) {
          alert('Like!');
          $(this).attr('data-theme', 'e');
        });
      });
    });
    </script>
    <title>Random Image</title>
  </head>
  <body>
    <div data-role='page' data-fullscreen='true'>
      <div data-role="header" data-position="fixed">
        <a data-role='button' data-icon='home' class='refresh' href='/'>Home</a>
        <h1>RI</h1>
        <a data-role='button' data-icon='star' class='star' href='/favorite'>Favorite</a>
      </div>
      <div data-role='content'>
        <!-- <img id='image' /> -->
        <img src='/images/<%=@image.id%>' />
      </div>
      <div data-role="footer" data-position="fixed">
        <a  data-role='button'
            data-icon='back'
            data-prefetch='true'
            data-direction='reverse'
            class='back' href='/favorite?page=<%=@previous%>'>Back</a>
        <a  data-role='button'
            data-icon='forward'
            data-prefetch='true'
            class='forward' href='/favorite?page=<%=@next%>'>Forward</a>

        <a data-role='button' title='<%=@image.id%>' data-icon='check' class='check ui-btn-right' data-theme='b'>Like</a>
      </div>
    </div>
  </body>
</html>